# Environment files
.env
.env.local
*.env

# Python
__pycache__/
*.pyc
venv/
env/

# Node modules
node_modules/

# Planning docs and local dev files
project-planning-docs/
dev-utilities/

# Local database
parkandgo_db_postgres

#IDE files
.vscode/

# Claude folder
.claude/

# Ruff cache - linting cache that can be safely ignored
.ruff_cache/

# Idea files - I have no idea what this is
.idea/

# Android build files - these can be regenerated and are not needed in version control
Frontend/android/

# Random markdown files
env.md

#This is for new features---
weather.py
.vercel
